* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$color1:#2E2A2A;
$color2:rgb(76, 73, 73);
$color3:white;
$color4: rgb(0, 0, 0);


html {
	scroll-behavior: smooth;
}
h1 {
	font-size: 3.5em;
	grid-row-start: 1;
	margin-top: 40px;
	grid-column: 2/11;
	color: $color3;
	text-align: center;
	margin-bottom: auto;
}
h2 {
	font-size: 2.7em;
}
h3 {
	font-size: 2em;
	font-size: 2em;
}
p {
	font-size: 1.25em;
}
ul {
	list-style: none;
	a {
		text-decoration: none;
		color: rgb(185, 161, 161);
		&:hover {
			color: $color3;
		}
	}
}
li {
	font-size: 1.25em;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
section {
	height: 900px;
}
.containerP {
	width: 100%;
	max-width: 1600px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	max-width: 1600px;
	height: 100%;
	margin: 0;
	gap: 10px;
	overflow: hidden;
	align-items: center;
}
header {
	height: 130px;
	box-shadow: 0 .5rem 1rem rgba(232, 223, 223, 0.1);
	background-color: $color1;
	align-items: center;
	z-index: 1000;
	position: fixed;
	top: 0;
}
.logo {
	grid-column: 1/2;
	width: 170px;
	margin-right: 20px;
	padding-left: 30px;
}
.menu {
	grid-column: 10/13;
	text-decoration: none;
	color: $color4;
	cursor: pointer;
	font-weight: 600;
	padding-right: 0.625rem;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-flexbox;
}
nav {
	a {
		text-decoration: none;
		color: $color4;
		cursor: pointer;
		font-weight: 600;
		padding-right: 10px;
		font-family: Arial, Helvetica, sans-serif;
		display: inline-flexbox;
		&:hover {
			color: $color3;
		}
	}
}
.buscar, input {
	grid-column: 4/10;
	width: 90%;
	height: 30px;
	padding: 0 10px;
	font-size: 14px;
	color: $color4;
	outline: none;
	border: 1px;
	border-radius: 40px;
	display: center;
}
#hero {
	background-image: url("/imagen/alcohol-gea9c4cf41_1920.jpg");
	animation: movimiento 10s  infinite linear alternate;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 100vh;
	color: $color3;
	filter: grayscale(20%);
	margin: 130px auto 0;
}
@keyframes movimiento {
		from{
        background-position: bottom left;
	}

to {
	background-position: top right;
}
}
	button {
		font-size: 1.5em;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding: 10px 20px;
		border-radius: 10px;
		border: 1px solid rgb(105, 83, 4);
		box-shadow: 0.125rem 0.125rem 0.625rem rgb(133, 106, 17);
		color: $color3;
		background-color: rgb(104, 34, 34);
	}

button {
	&:hover {
		background-color: rgb(100, 22, 22);
	}
}
.boton1 {
	grid-row-start: 2;
	grid-column: 4/5;
	margin-top: 200px;
	margin-left: 100px;
	padding-left: 30px;
}
.boton2 {
	grid-row-start: 2;
	margin-top: 200px;
	grid-column: 6/9;
}
.reserva1 {
	font-weight: 400;
	font-size: 40px;
}
.imagen1 {
	width: 100%;
	height: auto;
	grid-column: 7/13;
	opacity: .8;
}
.img {
	width: 100%;
	max-width: 600px;
}
.textos {
	grid-column: 2/7;
	padding-right: 5px;
	text-align: justify;
	color: #fff;
}
#Reserva {
	height: 80vh;
}
.Somos {
	font-weight: 300;
	font-size: 30px;
}
#NuestrasUbicaciones {
	height: 80vh;
	background: linear-gradient(180deg, $color4 50%, rgb(252, 248, 248) 50%);
}
.Nuestras {
	grid-column: 1/-1;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.carta {
	width: 30%;
	background: rgb(183, 177, 177);
	box-shadow: 0 0 10px $color3;
	overflow: hidden;
	height: 180px;
	padding: 20px 10px;
	text-align: center;
}
img {
	width: 100%;
	height: 100%;
}
#carrusel {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.slide-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.imagen-slider {
	width: 100%;
	height: 300px;
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 7s;
}
.slide-div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 30px 0 30px;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
	position: relative;
	width: 240px;
	height: 370px;
	transition: .9s;
	filter: saturate(10%);
}
.button {
	position: absolute;
	width: 240px;
	height: 370px;
	transition: .9s;
	background-color: rgba(24, 21, 21, 0.4);
	&:hover {
		background-color: $color1;
	}
}
#slider-span1:target ~ .imagen-slider #img1,
#slider-span1:target ~ .imagen-slider #button-1 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span2:target ~ .imagen-slider #img2,
#slider-span2:target ~ .imagen-slider #button-2 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span3:target ~ .imagen-slider #img3,
#slider-span3:target ~ .imagen-slider #button-3 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span4:target ~ .imagen-slider #img4,
#slider-span4:target ~ .imagen-slider #button-4 {
	width: 450px;
	height: 650px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span5:target ~ .imagen-slider #img5,
#slider-span5:target ~ .imagen-slider #button-5 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span6:target ~ .imagen-slider #img6,
#slider-span6:target ~ .imagen-slider #button-6 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span7:target ~ .imagen-slider #img7,
#slider-span7:target ~ .imagen-slider #button-7 {
	width: 450px;
	height: 600px;
	background-color: transparent;
	filter: saturate(100%);
}
#slider-span1 {
	&:target {
		& ~ .imagen-slider {
			left: 70%;
		}
	}
}
#slider-span2 {
	&:target {
		& ~ .imagen-slider {
			left: 50%;
		}
	}
}
#slider-span3 {
	&:target {
		& ~ .imagen-slider {
			left: 25%;
		}
	}
}
#slider-span4 {
	&:target {
		& ~ .imagen-slider {
			left: 10%;
		}
	}
}
#slider-span5 {
	&:target {
		& ~ .imagen-slider {
			left: -25%;
		}
	}
}
#slider-span6 {
	&:target {
		& ~ .imagen-slider {
			left: -50%;
		}
	}
}
#slider-span7 {
	&:target {
		& ~ .imagen-slider {
			left: -70%;
		}
	}
}
footer {
	display: flex;
	margin-top: 10px;
	margin-bottom: 0;
	height: 200px;
	width: 100%;
	background-color: $color2;
}
.container {
	width: 100%;
	background-color: $color2;
}
.box__footer1 {
	.logo3 {
		grid-column: 1/2;
		padding: 10px;
		width: 200px;
		padding-left: 30px;
	}
}
.box__footer2 {
	grid-column: 3/6;
}
.box__footer3 {
	grid-column: 7/10;
}
.box__footer4 {
	grid-column: 10/13;
}
.contacto {
	font-size: 30px;
	padding-bottom: 10px;
	color: $color3;
}
.direcciones {
	font-size: 30px;
	padding-bottom: 50px;
	color: $color3;
}
.redes {
	font-size: 30px;
	padding-bottom: 50px;
	color: $color3;
}
.color {
	color: rgb(185, 161, 161);
}
.whats {
	height: 2.31rem;
	width: 2.31rem;
	background-color: rgb(17, 177, 17);
	border: 4px solid $color3;
	color: $color3;
	position: fixed;
	bottom: 1.25rem;
	right: 1.25rem;
	text-align: center;
	line-height: 1.87rem;
	border-radius: 50%;
	box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(47, 41, 41);
}
audio {
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	line-height: 30px;
}
