* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.5em;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
  color: white;
  text-align: center;
  margin-bottom: auto;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 900px;
}

.containerP {
  width: 100%;
  max-width: 1600px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[12];
      grid-template-columns: repeat(12, 2fr);
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0;
  gap: 10px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 130px;
  -webkit-box-shadow: 0 0.5rem 1rem #2E2A2A;
          box-shadow: 0 0.5rem 1rem #2E2A2A;
  background-color: #2E2A2A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 170px;
  margin-right: 20px;
  padding-left: 30px;
}

.menu {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 600;
  padding-right: 0.625rem;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flexbox;
}

nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 600;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flexbox;
}

nav a:hover {
  color: white;
}

.buscar, input {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/10;
  width: 90%;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  color: black;
  outline: none;
  border: 1px;
  border-radius: 40px;
  display: center;
}

#hero {
  background-image: url("/imagen/alcohol-gea9c4cf41_1920.jpg");
  -webkit-animation: movimiento 10s  infinite linear alternate;
          animation: movimiento 10s  infinite linear alternate;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  color: white;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
  margin: 130px auto 0;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

button {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #695304;
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem #856a11;
          box-shadow: 0.125rem 0.125rem 0.625rem #856a11;
  color: white;
  background-color: #682222;
}

button:hover {
  background-color: #641616;
}

.boton1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  margin-top: 200px;
  margin-left: 100px;
  padding-left: 30px;
}

.boton2 {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 200px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.reserva1 {
  font-weight: 400;
  font-size: 40px;
}

.imagen1 {
  width: 100%;
  height: auto;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  opacity: .8;
}

.img {
  width: 100%;
  max-width: 600px;
}

.textos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  padding-right: 5px;
  text-align: justify;
  color: white;
}

#Reserva {
  height: 80vh;
}

.Somos {
  font-weight: 300;
  font-size: 30px;
}

#somos-alambique {
  background-color: #641616;
  opacity: .7;
}

#somos-alambique .container-al {
  text-align: center;
  padding: 200px 12px;
}

.color-p {
  color: white;
}

.color-acento {
  color: #4c4949;
}

.btn-abrir-popup {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  margin-top: 200px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
}

#btn-abrir-popup {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #4c4949;
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem white;
          box-shadow: 0.125rem 0.125rem 0.625rem white;
  color: white;
  background-color: #a41414;
}

#NuestrasUbicaciones {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), color-stop(50%, black));
  background: linear-gradient(180deg, black 50%, black 50%);
}

.Nuestras {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carta {
  width: 30%;
  background: #2E2A2A;
  -webkit-box-shadow: 0 0 10px #4c4949;
          box-shadow: 0 0 10px #4c4949;
  overflow: hidden;
  height: 180px;
  padding: 20px 10px;
  text-align: center;
}

.carta:hover {
  background-color: #4c4949;
}

img {
  width: 100%;
  height: 100%;
}

#carrusel {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slide-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.imagen-slider {
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 7s;
  transition: 7s;
}

.slide-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 30px;
  position: relative;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  position: relative;
  width: 340px;
  height: auto;
  -webkit-transition: .9s;
  transition: .9s;
  -webkit-filter: saturate(10%);
          filter: saturate(10%);
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .9s;
  transition: .9s;
  background-color: black;
  display: block;
}

.button:hover {
  background-color: rgba(48, 43, 43, 0.2);
}

#slider-span1:target ~ .imagen-slider #img1,
#slider-span1:target ~ .imagen-slider #button-1 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span2:target ~ .imagen-slider #img2,
#slider-span2:target ~ .imagen-slider #button-2 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span3:target ~ .imagen-slider #img3,
#slider-span3:target ~ .imagen-slider #button-3 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span4:target ~ .imagen-slider #img4,
#slider-span4:target ~ .imagen-slider #button-4 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span5:target ~ .imagen-slider #img5,
#slider-span5:target ~ .imagen-slider #button-5 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span6:target ~ .imagen-slider #img6,
#slider-span6:target ~ .imagen-slider #button-6 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span7:target ~ .imagen-slider #img7,
#slider-span7:target ~ .imagen-slider #button-7 {
  width: 450px;
  background-color: transparent;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#slider-span1:target ~ .imagen-slider {
  left: 70%;
}

#slider-span2:target ~ .imagen-slider {
  left: 50%;
}

#slider-span3:target ~ .imagen-slider {
  left: 25%;
}

#slider-span4:target ~ .imagen-slider {
  left: 10%;
}

#slider-span5:target ~ .imagen-slider {
  left: -25%;
}

#slider-span6:target ~ .imagen-slider {
  left: -50%;
}

#slider-span7:target ~ .imagen-slider {
  left: -70%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #4c4949;
}

.container {
  width: 100%;
  background-color: #4c4949;
}

.box__footer1 .logo3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 10px;
  width: 200px;
  padding-left: 30px;
}

.box__footer2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.box__footer3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

.box__footer4 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
}

.contacto {
  font-size: 30px;
  padding-bottom: 10px;
  color: white;
}

.direcciones {
  font-size: 30px;
  padding-bottom: 50px;
  color: white;
}

.redes {
  font-size: 30px;
  padding-bottom: 50px;
  color: white;
}

ul a {
  text-decoration: none;
  color: #b9a1a1;
}

ul a:hover {
  color: white;
}

.color {
  color: #b9a1a1;
}

.whats {
  height: 2.31rem;
  width: 2.31rem;
  background-color: #11b111;
  border: 4px solid white;
  color: white;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  text-align: center;
  line-height: 1.87rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.625rem #2E2A2A;
          box-shadow: 0.1875rem 0.1875rem 0.625rem #2E2A2A;
}

audio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 30px;
}

.container-caja {
  display: contents;
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
  width: 218px;
  height: 200px;
  background: #2E2A2A;
  margin: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.box:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px opx 30px -16px #2E2A2A;
          box-shadow: 0px opx 30px -16px #2E2A2A;
  background: #370b0b;
  z-index: 1;
}

.box:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .icon {
  color: white;
}

.h1-box {
  margin-bottom: 50px;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: #3c1414;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .icon {
  font-size: 60px;
  color: #370b0b;
}

.uno {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: #4c4949;
}

.box {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.box1 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
}

.box2 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.box3 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

.box4 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

.box5 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 4;
  grid-row: 4;
}

.box6 {
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 3;
  grid-row: 3;
}

.box7 {
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 4;
  grid-row: 4;
}

.box8 {
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 3;
  grid-row: 3;
}

.box9 {
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 4;
  grid-row: 4;
}

.onlineshop {
  height: 400px;
  margin-top: 0%;
}

#feature-product2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
}

#feature-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
}

#feature-product > h2 {
  color: #2E2A2A;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#feature-product > h2::after {
  border-bottom: 1px solid black;
  width: 80%;
  height: 1px;
  background-color: #4c4949;
  position: absolute;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
}

.feature-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 60px auto;
  width: 1200px;
  padding: 20px 0px;
  background-color: #2E2A2A;
  border: 1px solid black;
}

.feature-product-box {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.feature-product-img {
  width: 250px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1px solid black;
}

.feature-product-img > img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product-feature-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-feature-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.product-feature-text > strong {
  color: #11b111;
  font-weight: 600;
  line-height: 20px;
}

.product-feature-text > span {
  color: white;
}

.cart-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-like > a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0px 3px;
  font-size: 0.9rem;
  text-decoration: none;
}

.cart-like > a > i {
  color: white;
}

.cart-like > a:hover {
  background-color: red;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.cart-like > a:hover > i {
  color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.pdf {
  margin-left: 350px;
}

.hero1 {
  height: 900px;
}

.leter {
  padding-right: 350px;
  padding-bottom: 50px;
  margin-top: 150px;
  margin-left: 350px;
}

.color-a {
  font-size: 60px;
  color: white;
}

#somos-alambique1 {
  opacity: .7;
  height: 800px;
}

#somos-alambique1 .container-al1 {
  text-align: center;
  padding: 200px 12px;
}

.color-acento1 {
  color: #6b5a08;
  font-size: 70px;
}

#neon {
  font-size: 30px;
  background-image: url(/imagen/fondo.jpg);
  background-size: cover;
  height: 400px;
  opacity: 1;
}

.primer1 {
  margin-left: 250px;
  color: white;
  -webkit-animation: blanco-neon 2s infinite alternate;
          animation: blanco-neon 2s infinite alternate;
  font-family: 'Jura', sans-serif;
  white-space: nowrap;
  padding-top: 152px;
}

@-webkit-keyframes blanco-neon {
  0%, 10%, 15%, 20%, 25%, 30%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95%, 100% {
    text-shadow: 9px 9px 18px #6c6868, 3px 3px 5px #bab5b5, -3px -3px 5px #bab5b5, -9px -9px 27px #aa9dbd;
  }
  10%, 30%, 60% {
    text-shadow: none;
  }
}

@keyframes blanco-neon {
  0%, 10%, 15%, 20%, 25%, 30%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95%, 100% {
    text-shadow: 9px 9px 18px #6c6868, 3px 3px 5px #bab5b5, -3px -3px 5px #bab5b5, -9px -9px 27px #aa9dbd;
  }
  10%, 30%, 60% {
    text-shadow: none;
  }
}

#somos-alambique2 .container-al2 {
  text-align: center;
  padding: 200px 12px;
}

#somos-alambique2 {
  opacity: .7;
}

.color-p2 {
  color: white;
}

.color-acento {
  color: #6b5a08;
}

.btn-abrir-popup2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  margin-top: 200px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
}

#btn-abrir-popup2 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #4c4949;
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
          box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
  color: white;
  background-color: #6b5a08;
}

#btn-abrir-popup2:hover {
  background-color: #94a134;
}

.formulario-reserva {
  height: 800px;
}

.container6 {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.form7 {
  list-style: none;
  padding: 0;
}

.contacto1 {
  text-align: center;
  font-size: 3em;
}

.contacto1 span {
  color: #7d7d0a;
}

.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 #4c4949;
          box-shadow: 0 0 20px 0 #4c4949;
  padding: 1em;
}

.form3, .block {
  color: white;
}

.contact-form form,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid #f6efef;
}

.contact-form form, .btn-abrir-popup2 {
  background: #2a2424;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-info {
  background: #c05353;
}

.contact-info > h4, .contact-info, .form7, .contact-info .form3 {
  text-align: center;
  margin: 0 0 1rem 0;
}

#btn-abrir-popup3 {
  margin-left: 580px;
  margin-top: 200px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
}

#btn-abrir-popup3:hover {
  background-color: #7d7d0a;
}

@media screen and (max-width: 1200px) {
  .containerP {
    width: auto;
  }
  .buscar {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
    white-space: nowrap;
  }
  .logo {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .primer {
    margin: auto;
    padding: auto;
  }
  .carta {
    width: 45%;
    background: #4c4949;
    -webkit-box-shadow: 0 0 10px #4c4949;
            box-shadow: 0 0 10px #4c4949;
    overflow: hidden;
    height: 150px;
    padding: 20px 10px;
    text-align: center;
  }
  .container-caja {
    display: inline;
    max-width: 1100px;
    margin: auto;
    margin-top: 150px;
    margin-left: 460px;
  }
  .box {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box1 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box2 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box3 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box4 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box5 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box6 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box7 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box8 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box9 {
    width: 300px;
    height: 300px;
    background: #333030;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .uno {
    font-size: 15px;
  }
  .h1-box {
    display: none;
  }
  .section1 {
    margin-top: 15px;
    height: 3200px;
  }
  .onlineshop {
    height: 3800px;
    margin-top: auto;
  }
  #feature-product2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product > h2 {
    color: #2E2A2A;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  #feature-product > h2::after {
    border-bottom: 1px solid black;
    width: 80%;
    height: 1px;
    background-color: #4c4949;
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -5px;
  }
  .feature-product-container {
    display: inline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px auto;
    width: auto;
    padding: 20px 0px;
    background-color: #211f1f;
    border: 1px solid black;
  }
  .feature-product-box {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .color-a {
    font-size: 30px;
    color: white;
  }
  #somos-alambique1 {
    opacity: .7;
    height: 800px;
    margin-right: 250px;
  }
  #somos-alambique1 .container-al1 {
    text-align: center;
    padding: 200px 12px;
  }
  .color-acento1 {
    color: #6b5a08;
    font-size: 50px;
  }
  #neon {
    font-size: 10px;
    background-image: url(/imagen/fondo.jpg);
    background-size: cover;
    height: 400px;
    opacity: 1;
    width: 1200px;
  }
  .primer1 {
    margin-left: 100px;
    color: white;
    -webkit-animation: blanco-neon 2s infinite alternate;
            animation: blanco-neon 2s infinite alternate;
    white-space: nowrap;
    padding-top: 152px;
  }
  #somos-alambique2 {
    opacity: .7;
  }
  #somos-alambique2 .container-al2 {
    text-align: center;
    margin-right: 180px;
    font-size: 14px;
  }
  .color-p2 {
    color: white;
  }
  .color-acento {
    color: #6b5a08;
  }
  .btn-abrir-popup2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
    background: #2a2424;
    border: 0;
    text-transform: uppercase;
  }
  #btn-abrir-popup2 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #5d5a51;
    -webkit-box-shadow: 0.125rem 0.125rem 0.625rem white;
            box-shadow: 0.125rem 0.125rem 0.625rem white;
    color: white;
    background-color: #6b5a08;
  }
  #btn-abrir-popup2:hover {
    background-color: #94a134;
  }
  .formulario-reserva {
    height: 800px;
    margin-left: 10px;
    margin-right: 250px;
  }
  .container6 {
    padding-top: 30px;
    margin-left: 20px;
  }
  .form7 {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 0 1rem 0;
  }
  .contacto1 {
    text-align: center;
    font-size: 3em;
  }
  .contacto1 span {
    color: #7d7d0a;
  }
  .contact-wrapper {
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    padding: 1em;
  }
  .form3 {
    color: white;
  }
  .block {
    color: white;
  }
  .contact-form form {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
    background: #2a2424;
    border: 0;
    text-transform: uppercase;
  }
  .contact-form form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
  }
  .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
  }
  .contact-info {
    background: #c05353;
    text-align: center;
    margin: 0 0 1rem 0;
  }
  .contact-info > h4 {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  .contact-info .form3 {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  #btn-abrir-popup3 {
    margin-left: 120px;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
  #btn-abrir-popup3:hover {
    background-color: #7d7d0a;
  }
}

@media (min-width: 541px) and (max-width: 720px) {
  .containerP {
    width: auto;
  }
  .buscar {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5/12;
    white-space: nowrap;
  }
  .logo {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .primer {
    margin-top: 50px;
    font-size: 2.8em;
    padding: auto;
  }
  .reserva1 {
    font-size: 2em;
  }
  .Somos {
    font-size: 1.5em;
    padding-top: 40px;
  }
  .imagen1 {
    width: 85%;
    padding-left: 20px;
  }
  .contacto {
    font-size: 20px;
  }
  .direcciones {
    font-size: 20px;
  }
  .box__footer2 {
    font-size: 15px;
    white-space: nowrap;
    margin-right: 200px;
  }
  .box__footer3 {
    padding-left: 1px;
    font-size: 15px;
    white-space: nowrap;
  }
  .box__footer4 {
    display: none;
  }
  #carrusel {
    width: 80%;
  }
  .carta {
    width: 45%;
    overflow: hidden;
    height: 150px;
    padding: 20px 10px;
    text-align: center;
  }
  .container-caja {
    display: inline;
    max-width: 1100px;
    margin: auto;
    margin-top: 150px;
    margin-left: 240px;
  }
  .box {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box1 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box2 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box3 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box4 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box5 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box6 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box7 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box8 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box9 {
    width: 300px;
    height: 300px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .uno {
    font-size: 15px;
  }
  .h1-box {
    display: none;
  }
  .section1 {
    margin-top: 15px;
    height: 3200px;
  }
  .onlineshop {
    height: 3800px;
    margin-top: auto;
  }
  #feature-product2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  .feature-product-container {
    display: inline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px auto;
    width: auto;
    padding: 20px 0px;
  }
  .feature-product-box {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .color-acento1 {
    font-size: 70px;
  }
  #neon {
    font-size: 10px;
    background-image: url(/imagen/fondo.jpg);
    background-size: cover;
    height: 400px;
    opacity: 1;
    width: 1200px;
  }
  .primer1 {
    margin-left: 60px;
    -webkit-animation: blanco-neon 2s infinite alternate;
            animation: blanco-neon 2s infinite alternate;
    font-family: 'Jura', sans-serif;
    white-space: nowrap;
    padding-top: 152px;
  }
  #somos-alambique2 {
    opacity: .7;
  }
  #somos-alambique2 .container-al2 {
    text-align: center;
    margin-right: 180px;
    font-size: 14px;
  }
  .btn-abrir-popup2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
  #btn-abrir-popup2 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #5d5a51;
    -webkit-box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
            box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
    color: aliceblue;
    background-color: #6b5a08;
  }
  #btn-abrir-popup2:hover {
    background-color: #94a134;
  }
  .formulario-reserva {
    height: 800px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .container6 {
    padding-top: 30px;
    margin-left: 20px;
  }
  .form7 {
    list-style: none;
    padding: 0;
  }
  .contacto1 {
    text-align: center;
    font-size: 3em;
  }
  .contacto1 span {
    color: #7d7d0a;
  }
  #btn-abrir-popup3 {
    margin-left: 20px;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
}

@media (min-width: 320px) and (max-width: 540px) {
  .containerP {
    width: auto;
  }
  .buscar {
    display: none;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    grid-column: 1/-2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1em;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .logo {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6/8;
    width: 250px;
    margin-top: -50px;
  }
  .primer {
    font-size: 2.5em;
    padding-left: 80px;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .boton1 {
    display: none;
  }
  .boton2 {
    display: none;
  }
  .reserva1 {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    white-space: nowrap;
    padding-bottom: 100px;
  }
  #img1 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img2 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img3 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img4 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img5 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img6 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  #img7 {
    position: relative;
    width: 240px;
    height: auto;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-filter: saturate(10%);
            filter: saturate(10%);
  }
  .Somos {
    font-size: 1em;
    padding-top: 0;
  }
  .imagen1 {
    background-size: cover;
  }
  .box__footer2 {
    display: none;
  }
  .box__footer3 {
    -ms-grid-column: 3;
    grid-column: 3;
    font-size: 15px;
    padding-left: 10%;
  }
  .box__footer4 {
    display: none;
  }
  .direcciones {
    font-size: 20px;
    padding-left: 3px;
    padding-bottom: 5px;
  }
  #carrusel {
    width: 100%;
    height: 50vh;
  }
  .slide-container {
    height: 50vh;
  }
  .carta {
    width: 45%;
    overflow: hidden;
    height: 150px;
    padding: 20px 10px;
    text-align: center;
  }
  .container-caja {
    display: inline;
    max-width: 1100px;
    margin: auto;
    margin-top: 150px;
    margin-left: 100px;
  }
  .box {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box1 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box2 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box3 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box4 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box5 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box6 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box7 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box8 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .box9 {
    width: 200px;
    height: 200px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .uno {
    font-size: 15px;
  }
  .h1-box {
    display: none;
  }
  .section1 {
    margin-top: 15px;
    height: 2200px;
  }
  .onlineshop {
    height: 2150px;
    margin-top: auto;
  }
  #feature-product2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0px;
  }
  #feature-product > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  #feature-product > h2::after {
    width: 80%;
    height: 1px;
    background-color: grey;
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -5px;
  }
  .feature-product-container {
    display: inline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px auto;
    width: auto;
    padding: 20px 0px;
  }
  .feature-product-box {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .feature-product-img {
    width: 250px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature-product-img > img {
    width: 90%;
    height: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .product-feature-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .product-feature-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .product-feature-text > strong {
    color: green;
    font-weight: 600;
    line-height: 20px;
  }
  .product-feature-text > span {
    color: #ead1d1;
  }
  .cart-like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-like > a {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin: 0px 3px;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .cart-like > a > i {
    color: #ecd9d9;
  }
  .cart-like > a:hover {
    background-color: red;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .cart-like > a:hover > i {
    color: #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .bg_color {
    width: 100;
    height: 30%;
    background: #77692c;
    position: absolute;
    top: 0;
  }
  .wave1 {
    width: 200%;
    position: absolute;
    top: 100px;
    background-position: bottom;
    opacity: 0.85;
    -webkit-animation: w1 7s linear infinite;
            animation: w1 7s linear infinite;
  }
  @-webkit-keyframes w1 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1200px;
    }
  }
  @keyframes w1 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1200px;
    }
  }
  .pdf {
    width: 50px;
    height: 100px;
    margin-left: 10px;
  }
  .hero1 {
    height: 1300px;
  }
  .leter {
    padding-right: 350px;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-left: 350px;
  }
  .color-a {
    font-size: 40px;
    color: #faf2f2;
  }
  #somos-alambique1 {
    opacity: .7;
    height: 800px;
    margin-left: 85px;
  }
  #somos-alambique1 .container-al1 {
    text-align: center;
    padding: 200px 12px;
  }
  .color-acento1 {
    color: #6b5a08;
    font-size: 70px;
  }
  #neon {
    font-size: 12px;
    background-image: url(/imagen/fondo.jpg);
    background-size: cover;
    height: 400px;
    opacity: 1;
    width: 1200px;
  }
  .primer1 {
    margin-left: 100px;
    color: #e3d2d2;
    -webkit-animation: blanco-neon 2s infinite alternate;
            animation: blanco-neon 2s infinite alternate;
    font-family: 'Jura', sans-serif;
    white-space: nowrap;
    padding-top: 152px;
  }
  #somos-alambique2 .container-al2 {
    text-align: center;
    margin-left: 150px;
  }
  #somos-alambique2 {
    opacity: .7;
  }
  .color-p2 {
    color: #faf2f2;
  }
  .color-acento {
    color: #6b5a08;
  }
  .btn-abrir-popup2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
  #btn-abrir-popup2 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #5d5a51;
    -webkit-box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
            box-shadow: 0.125rem 0.125rem 0.625rem #dcd4b9;
    color: aliceblue;
    background-color: #6b5a08;
  }
  #btn-abrir-popup2:hover {
    background-color: #94a134;
  }
  .formulario-reserva {
    height: 800px;
    margin-left: 150px;
  }
  .container6 {
    padding: 1.5em;
    padding-top: 30px;
  }
  .form7 {
    list-style: none;
    padding: 0;
  }
  #btn-abrir-popup3 {
    margin-left: 70px;
    margin-top: 200px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
}
/*# sourceMappingURL=estilos.css.map */